//
// Layout
//---------------------------------------------------



//
// Styles
//---------------------------------------------------

// btn
@mixin button-bg($bg) {
  background: $bg;
  // &:hover {
  //   background:darken($bg,8%);
  //   transition: all 0.3s ease;
  // }
  &:active {
    background:darken($bg,25%);
  } 
}

@mixin button-bg-border($bgb) {
  border: solid #fc2d41 2px;
  &:hover {
    background-color: #fc2d41;
    transition: all 0.3s ease;
    color: #fff;
  }
  &:active {
    background-color: #fc2d41;
  } 
}




//
// Responsive
//---------------------------------------------------

