//
// Layout
//---------------------------------------------------

// Center
@mixin vertical-align($position: relative) {
  position: $position;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Top
@mixin top-align($position: relative) {
  position: $position;
  top: 20%;
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}


//
// Styles
//---------------------------------------------------

// btn
@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}





//
// Responsive
//---------------------------------------------------

