// Font
//----------------

$font-h1: 'Cantata One', sans-serif;
$font-h2: 'Cantata One', sans-serif;

$font-nav: 'Noto Sans', sans-serif;

$font-copy: 'Noto Sans', sans-serif;

// Color
//----------------
$flower-red: #FC2D41;
$primary-color: #656565;
$seccondary-color: #656565;
$heading-color: #272727;
$project-color: #fff;

$color-copy: #272727;

$color-icon: #767676;

// Size
//----------------

$content-size: 0.9em;

$title-size: 3em;
$copy-size: 0.8em;

$btn-size: 0.8em;

