//
// Colors
//---------------------------------------------------

// Font colors
$primary-color: #515151;
$seccondary-color: #000;

// red
$flower-red: #fc2d41;


//
// Layout
//---------------------------------------------------

$content-width: 37%;

//
// Type
//---------------------------------------------------

$heading-size: 2.5em;
$subheading-size: 1em;
$content-size: 1em;
$btn-size: 1em;