//
// Colors
//---------------------------------------------------

// Font colors
$primary-color: #515151;
$seccondary-color: #515151;

// red
$flower-red: #fc2d41;


//
// Layout
//---------------------------------------------------

$content-width: 37%;

//
// Type
//---------------------------------------------------

$heading-size: 3em;
$subheading-size: 1.5em;
$content-size: 1.2em;
$btn-size: 1em;