@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic);
* {
  box-sizing: border-box; }

html {
  margin: 0; }

section {
  height: 100vh;
  width: 100%;
  background-color: #333;
  border: 12px solid white; }

.home {
  background: url(../img/bg-mountains.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .home .intro {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .home .intro h1 {
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 3em;
      padding: 0px;
      margin: auto 25%;
      vertical-align: center;
      text-align: right;
      letter-spacing: -2px; }
    .home .intro p {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 1.3em;
      color: #fff;
      margin: auto 25%;
      padding-top: 5%;
      text-align: right; }
