@import url("https://fonts.googleapis.com/css?family=Cantata+One");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i");
@font-face {
  font-family: 'folio-icons';
  src: url("../assets/../scss/fonts/folio-icons.eot?h8j23h");
  src: url("../assets/../scss/fonts/folio-icons.eot?h8j23h#iefix") format("embedded-opentype"), url("../assets/../scss/fonts/folio-icons.ttf?h8j23h") format("truetype"), url("../assets/../scss/fonts/folio-icons.woff?h8j23h") format("woff"), url("../assets/../scss/fonts/folio-icons.svg?h8j23h#folio-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'folio-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-twitter:before {
  content: "\f099"; }

.icon-github:before {
  content: "\f09b"; }

.icon-linkedin:before {
  content: "\f0e1"; }

.icon-circle:before {
  content: "\f111"; }

.icon-genderless:before {
  content: "\f22d"; }

/*
 * Keyframes
 */
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    transform: none; } }

/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */
.m-scene {
  /** Reverse "exit" animations */ }
  .m-scene .scene_element {
    animation-duration: 0.50s;
    transition-timing-function: ease-in;
    animation-fill-mode: both; }
  .m-scene .scene_element--fadein {
    animation-name: fadeIn; }
  .m-scene .scene_element--fadeinup {
    animation-name: fadeInUp; }
  .m-scene .scene_element--fadeinright {
    animation-name: fadeInRight; }
  .m-scene.is-exiting .scene_element {
    animation-direction: alternate-reverse; }

* {
  box-sizing: border-box; }

html, body {
  margin: 0; }

.fp-tableCell {
  vertical-align: top; }

.section {
  height: 100vh;
  width: 100%; }

.home {
  background: url(../img/bg-home.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .home .align {
    height: 100%; }
    .home .align .logo {
      display: flex;
      align-items: center;
      height: 100%; }
      .home .align .logo h1 {
        font-family: "Cantata One", sans-serif;
        font-size: 4em;
        color: #fff;
        text-transform: uppercase;
        margin: 60px; }
      .home .align .logo span {
        display: block; }

.align {
  height: 100%; }
  .align .logo {
    display: flex;
    align-items: center;
    height: 100%; }
    .align .logo h1 {
      font-family: "Cantata One", sans-serif;
      font-size: 4em;
      color: #fff;
      text-transform: uppercase;
      margin: 60px; }
    .align .logo span {
      display: block; }

.about {
  background: url(../img/bg-flower.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .about .content {
    max-width: 36%;
    display: block;
    float: left;
    margin: 13% 11%;
    padding-top: 2%; }
    .about .content h1 {
      font-family: "Cantata One", sans-serif;
      font-size: 3em;
      padding: 0;
      margin: 0; }
    .about .content h2 {
      font-family: "Noto Sans", sans-serif;
      font-size: 0.8em;
      font-style: italic;
      color: #272727;
      font-weight: 400;
      padding: 0 0 15px 0;
      margin: 0; }
    .about .content p {
      font-family: "Noto Sans", sans-serif;
      font-size: 0.8em;
      color: #272727; }
    .about .content .social {
      display: inline-block;
      padding-top: 10px; }
      .about .content .social ul {
        list-style: none;
        padding: 0; }
        .about .content .social ul li {
          float: right;
          padding-right: 10px; }
        .about .content .social ul i {
          font-size: 2em;
          color: #767676;
          float: left;
          padding-right: 10px; }
        .about .content .social ul i:hover {
          color: #FC2D41; }
    .about .content .buttons {
      margin-top: 60px; }

.projects .content {
  width: 80%;
  margin: 8% auto 0; }
  .projects .content .flex-grid {
    display: flex; }
  .projects .content .flex-grid .col {
    flex: 1; }
  .projects .content .flex-grid-50 {
    display: flex;
    justify-content: space-between; }
  .projects .content .flex-grid-50 .col {
    width: 50%; }
  @media (max-width: 400px) {
    .projects .content .flex-grid,
    .projects .content .flex-grid-50 {
      display: block; }
      .projects .content .flex-grid .col,
      .projects .content .flex-grid-50 .col {
        width: 100%;
        margin: 0 0 10px 0; } }
  .projects .content * {
    box-sizing: border-box; }
  .projects .content body {
    padding: 20px; }
  .projects .content .flex-grid {
    margin: 0 0 20px 0; }
  .projects .content .col {
    padding-right: 60px; }
    .projects .content .col img {
      width: 100%;
      display: block;
      padding-bottom: 60px; }

.photography .content {
  width: 80%;
  margin: 8% auto 0; }
  .photography .content .flex-grid {
    display: flex; }
  .photography .content .flex-grid .col {
    flex: 1; }
  .photography .content .flex-grid-50 {
    display: flex;
    justify-content: space-between; }
  .photography .content .flex-grid-50 .col {
    width: 50%; }
  @media (max-width: 400px) {
    .photography .content .flex-grid,
    .photography .content .flex-grid-50 {
      display: block; }
      .photography .content .flex-grid .col,
      .photography .content .flex-grid-50 .col {
        width: 100%;
        margin: 0 0 10px 0; } }
  .photography .content * {
    box-sizing: border-box; }
  .photography .content body {
    padding: 20px; }
  .photography .content .flex-grid {
    margin: 0 0 20px 0; }
  .photography .content .col {
    padding-right: 60px; }
    .photography .content .col img {
      width: 100%;
      display: block; }

.contact {
  background: url(../img/bg-flower-contact.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .contact .content {
    max-width: 36%;
    display: block;
    float: left;
    margin: 15% 11%; }
    .contact .content h1 {
      font-family: "Cantata One", sans-serif;
      font-size: 3em;
      padding: 0;
      margin: 0; }
    .contact .content h2 {
      font-family: "Noto Sans", sans-serif;
      font-size: 0.8em;
      font-style: italic;
      color: #272727;
      font-weight: 400;
      padding: 0 0 15px 0;
      margin: 0; }
    .contact .content h3 {
      font-family: "Cantata One", sans-serif;
      font-size: 1.7em;
      color: #FC2D41; }
    .contact .content p {
      font-family: "Noto Sans", sans-serif;
      font-size: 0.8em;
      color: #272727; }
    .contact .content .social {
      display: inline-block; }
      .contact .content .social ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        .contact .content .social ul li {
          float: right;
          padding-right: 10px; }
        .contact .content .social ul i {
          font-size: 2em;
          color: #767676;
          float: left;
          padding-right: 10px; }
        .contact .content .social ul i:hover {
          color: #FC2D41; }

h4 {
  font-size: 3em; }

.nav {
  vertical-align: top;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: block;
  width: 100%;
  padding: 20px;
  background-color: #fff; }
  .nav .logo {
    display: inline-block;
    padding: 20px 80px 0 20px; }
    .nav .logo a {
      text-decoration: none;
      color: #000; }
    .nav .logo h2 {
      font-family: "Cantata One", sans-serif;
      font-size: 1em;
      text-transform: uppercase;
      margin: 0; }
  .nav .logo-mobile {
    display: none; }
  .nav ul {
    list-style: none;
    display: inline-block;
    padding-left: 80px; }
    .nav ul li {
      float: left;
      padding: 0 50px; }
      .nav ul li a {
        font-family: "Noto Sans", sans-serif;
        font-size: 0.6em;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #272727;
        text-decoration: none; }
  .nav .lang {
    float: right;
    padding: 0 20px; }
    .nav .lang p a {
      font-family: "Cantata One", sans-serif;
      font-size: 0.8em;
      color: #272727;
      text-decoration: none; }
    .nav .lang p a:active {
      text-decoration: underline; }
  .nav i {
    font-size: 5px;
    color: #FC2D41;
    vertical-align: middle;
    padding-right: 13px; }
  .nav .hamburgler-icon {
    display: none; }

.nav-projects {
  vertical-align: top;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: block;
  width: 100%;
  padding: 20px; }
  .nav-projects .logo {
    display: inline-block;
    padding: 20px 80px 0 20px; }
    .nav-projects .logo h2 {
      font-family: "Cantata One", sans-serif;
      font-size: 1em;
      text-transform: uppercase;
      margin: 0;
      color: #fff; }
  .nav-projects ul {
    list-style: none;
    display: inline-block;
    padding-left: 80px; }
    .nav-projects ul li {
      float: left;
      padding: 0 50px; }
      .nav-projects ul li a {
        font-family: "Noto Sans", sans-serif;
        font-size: 0.7em;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none; }
  .nav-projects .lang {
    float: right;
    padding: 0 20px; }
    .nav-projects .lang p {
      color: #fff; }
      .nav-projects .lang p a {
        font-family: "Cantata One", sans-serif;
        font-size: 0.8em;
        color: #fff;
        text-decoration: none; }
      .nav-projects .lang p a:active {
        text-decoration: underline; }
  .nav-projects i {
    font-size: 5px;
    color: #FC2D41;
    vertical-align: middle;
    padding-right: 13px; }

.btn {
  text-decoration: none;
  padding: 15px 32px;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8em;
  color: #fff;
  border: solid #fc2d41 2px; }

.btn-border {
  text-decoration: none;
  padding: 15px 20px;
  border-width: 2px;
  border-color: #FC2D41;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8em;
  color: #656565; }

.btn-red {
  background: #FC2D41;
  margin-right: 10px; }
  .btn-red:active {
    background: #a70212; }

.btn-red-border {
  border: solid #fc2d41 2px; }
  .btn-red-border:hover {
    background-color: #fc2d41;
    transition: all 0.3s ease;
    color: #fff; }
  .btn-red-border:active {
    background-color: #fc2d41; }

.tnm {
  background-color: #2B2B2B; }
  .tnm nav {
    background-color: #2B2B2B; }

.hamburgler-icon-wrapper {
  position: fixed;
  top: 1.2em;
  right: 1.5em;
  height: 26px;
  width: 26px;
  cursor: pointer; }

.hamburgler-icon, .hamburgler-icon:before, .hamburgler-icon:after {
  content: '';
  position: absolute;
  border-radius: 1em;
  height: 3px;
  width: 26px;
  background: #FC2D41;
  transition: all 0.2s ease; }

.hamburgler-icon {
  top: 0.75em; }

.hamburgler-icon:before {
  top: -0.55em; }

.hamburgler-icon:after {
  top: 0.55em; }

.hamburgler-active .hamburgler-icon {
  background: transparent;
  transform: rotate(-135deg); }

.hamburgler-active .hamburgler-icon:before, .hamburgler-active .hamburgler-icon:after {
  top: 0; }

.hamburgler-active .hamburgler-icon:before {
  transform: rotate(90deg); }

.hamburgler-active .hamburgler-icon, .hamburgler-active .hamburgler-icon:before, .hamburgler-active .hamburgler-icon:after {
  background: white; }

.hamburgler-menu {
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center; }

.hamburgler-active .hamburgler-menu {
  opacity: 1;
  pointer-events: initial; }

.hamburgler-menu-list {
  display: block;
  transition: all 0.4s ease;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2); }

.hamburgler-active .hamburgler-menu-list {
  transform: translate(-50%, -50%) scale(1); }

@media (max-width: 320px) {
  .about {
    background: none; }
    .about .content {
      padding-top: 20%; }
      .about .content h1 {
        font-size: 2em; }
      .about .content h2 {
        font-size: 0.6em; }
      .about .content p {
        font-size: 0.6em; } }

@media (max-width: 640px) {
  .home .align .logo {
    height: 100vh; }
    .home .align .logo h1 {
      font-family: "Cantata One", sans-serif;
      font-size: 2.5em;
      color: #fff;
      text-transform: uppercase;
      margin: 10px; }
    .home .align .logo span {
      display: block; }
  .nav {
    padding: 20px; }
    .nav .logo {
      display: none; }
    .nav .logo-mobile {
      display: inline-block;
      padding: 0px; }
      .nav .logo-mobile h2 {
        font-family: "Cantata One", sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        margin: 0; }
    .nav ul {
      display: none; }
    .nav .lang {
      display: none; }
    .nav i {
      font-size: 5px;
      color: #FC2D41;
      vertical-align: middle;
      padding-right: 13px; }
    .nav .hamburgler-icon {
      display: inline-block; }
  .about .content {
    margin: 12% 6%;
    max-width: 100%;
    float: none; }
    .about .content .buttons {
      margin-top: 150px; }
    .about .content .btn {
      padding: 15px 20px; }
  .section {
    height: auto; } }
