.contact {
	background: url(../img/bg-ski.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.title {
		max-width: 35%;
		float: right;
		display: block;
		margin: 2% 2%;
		text-align: left;
	  h1 {
			color: $heading-color;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			font-size: $heading-size;
			padding: 0px;
			// margin: auto 10%;
			vertical-align: center;
			letter-spacing: -2px;
		}
		h3 {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-style: italic;
			font-size: 1em;
			color: $heading-color;
			// margin: auto 10%;
			padding: 0 0 30px;
		}
		h4 {
			color: $primary-color;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			font-size: 1em;
			padding: 0px;
			// margin: 40px 10% 0;
			vertical-align: center;
			letter-spacing: -1px;
		}
		h5 {
			color: $flower-red;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			font-size: 1.4em;
			padding: 0px;
			// margin: 40px 10% 0;
			vertical-align: center;
			letter-spacing: -1px;
		}
		p {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			color: $seccondary-color;
			// margin: auto 10%;
			padding: 10px 0;
			font-size: $content-size;
			
		}
		.rotation {
			p {
				padding: 2px 0;
			}
			h4 {
				margin-top: 15px;
			}
		}
		.buttons {
			margin: 5% 10%;
			
		}
		.contact-icons {
			margin: 0 6.5% 0;
			ul {
				
				li {
					float: left;
					list-style-type: none;
					padding: 10px;
					img {
						max-width: 30px;
					}
				}
				
			}
		}
		p i {
			font-size: 2em;
			color: $seccondary-color;
			float: left;
		}
		
	}
}
