.home {
	background: url(../img/bg-home.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.home-title {
		text-align: center;
	  	margin: 20px;
	  	padding-top: 15%;
	  	display: block;
	  	
	 	h1 {
			color: #333;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			font-size: 5em;
			padding: 0px;
			margin: auto 15%;
			vertical-align: center;
			text-align: center;
			letter-spacing: -2px;
		}
		h2 {
			color: #333;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			font-size: 4em;
			padding: 0px;
			margin: auto 15%;
			vertical-align: center;
			text-align: center;
			letter-spacing: -2px;
		}
		hr {
			max-width: 75%;
			height: 3px;
			color: #333;
			background-color: #333;
		}

	}

	 
	.block:before {
	  content: '\200B';
	/*   content: '';
	  margin-left: -0.25em; */
	  display: inline-block;
	  height: 100%; 
	  vertical-align: middle;
	 }
	 
	.centered {
	  display: inline-block;
	  vertical-align: middle;
	  padding: 10px 15px;
	  
	 }

}