.projects {
	background: url(../img/bg-yamagata.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.title {
		display: block;
		max-width: 40%;
		float: left;
		margin: 5% 8%;
		
		h1 {
				color: $heading-color;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				font-size: $heading-size;
				padding: 0px;
				vertical-align: center;
				letter-spacing: -2px;
			}
			.project-copy {
				margin-bottom: 5%;

				h1 {
				color: $primary-color;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				font-size: $heading-size;
				padding: 0px;
				margin: auto 0;
				vertical-align: center;
				letter-spacing: -2px;
				}
				h2  {
					color: $primary-color;
					font-family: 'Montserrat', sans-serif;
					font-weight: 700;
					font-size: $subheading-size;
					padding: 0px;
					margin: auto 0;
					vertical-align: center;
					letter-spacing: -2px;
				}
				h3 {
					font-family: 'Open Sans', sans-serif;
					font-weight: 300;
					font-style: italic;
					font-size: $subheading-size;
					color: $seccondary-color;
					margin: auto 0;
					padding: 20px 0 70px;
				}
				p {
					font-family: 'Open Sans', sans-serif;
					font-weight: 400;
					color: $seccondary-color;
					margin: auto 0;
					padding: 10px 0;
					font-size: $content-size;
				}
				a {
					text-decoration:none;
					padding: 15px 0;
					font-family: 'Open Sans', sans-serif;
					font-size: 1em;
					text-decoration: underline;
					color: $seccondary-color;
					margin: auto 0;

				}
				.highlight {
					color: $flower-red;
					text-decoration: none;
					font-family: 'Montserrat', sans-serif;
					font-size: 0.9em;
				}

				.project-date {
					p {
						font-family: 'Open Sans', sans-serif;
						font-weight: 300;
						color: $seccondary-color;
						margin: auto 7%;
						width: $content-width;
						padding: 10px 0;
						font-size: 0.5em;
						

					span p {
						color: $flower-red;
						}	
					}
					
				}
			}
		}
	  
		.buttons {
			margin: 2% 15% 0px;
			
		}
		.icon {
			font-size: 0.5em;
			padding: 8px;
		}
		
		.bold-red {
			color: $primary-color;
			font-weight: 700;
		}
	}